<ion-content>
  <img height="40%" src="../../../../assets/images/logins/login1.jpg" />

  <div class="ion-text-center">

  </div>
  <ion-card class="ion-text-center ion-margin" style="margin-top: -30%;">


    <br>
    <h3>Login</h3>

    <br>

    <br>

    <div class="ion-padding">
      <ion-item lines="none">
        <ion-icon name="at">
        </ion-icon>
        <ion-item style="width: 100%;">
          <ion-label position="floating">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-item>
    </div>


    <div class="ion-padding">
      <ion-item lines="none">
        <ion-icon name="at">
        </ion-icon>
        <ion-item style="width: 100%;">
          <ion-label position="floating">Password</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-item>
    </div>

    <div class="ion-padding">
        <ion-button color="success" expand="block">Login</ion-button>
    </div>

  </ion-card>


  <ion-row>
    <ion-col size="6">
      <ion-button size="small" color="dark" expand="block" fill="clear">Register</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button size="small" color="medium" expand="block" fill="clear">Forgot Password?</ion-button>
    </ion-col>
  </ion-row>
</ion-content>